.espartaco_m {
    color: var(--color-marron);
}

.odisea_b {
    color: var(--color-azul);
}

.telefono_r {
    color: var(--color-rojo);
}

.mecanica_n {
    color: var(--color-naranja);
}

.ojos_p {
    color: var(--color-purpura);
}

.chaqueta_v {
    color: var(--color-verde);
}

.barry_b {
    color: var(--color-blancopuro);
}



